<div class="row">
  <div class="col-lg-3 col-md-4 col-xs-12" *ngFor="let post of posts">
    <a routerLink="/blogs/{{post.post_id}}" class="card clickable">
      <div class="card-img">
        <img [src]="post.image">
      </div>
      <div class="card-block">
        <p class="card-text">
          {{post.title}}
        </p>
       </div>
    </a>
  </div>
</div>
